.apresentacao-bg{
    background-image: url(../../img/verde.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 95vh;
}
.apresentacao-container {
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}
.apresentacao-escrita{
    text-align: center;
}
.apresentacao-escrita h1{
    color: #ffffff;
    font-size: 3.43rem;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
}
.apresentacao-escrita h3{
    color: #acacac;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif
}
.apresentacao-escrita h3::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 0.7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

  @media (max-width:800px){
    .apresentacao-escrita h1{
        font-size: 2.18rem;
    }
    .apresentacao-escrita h3{
        font-size: 1.875rem;
    }
  }
  @media (max-width:540px){
    .apresentacao-bg{
        background-image: none;
        background-color: #1d1d1d;
    }
    .apresentacao-container{
        height: 75vh;
    }
    .apresentacao-escrita h1{
        font-size: 1.875rem;
    }
    .apresentacao-escrita h3{
        font-size: 1.56rem;
    }
  }