*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}
/*
font-family: 'Fredoka One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4, 
ul, 
p,
blockquote,
dd {
    margin: 0px;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #151515;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}
::selection {
    background-color: #8968ffc4;
  }
html{
    scroll-behavior: smooth;
}

.container{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
}